streamlit==1.32.0
langchain==0.1.13
pinecone-client>=3.0.0
langchain-pinecone>=0.0.3
sentence-transformers==2.6.1
groq>=0.9.0
plotly==5.20.0
pandas==2.2.1
transformers==4.39.1
wordcloud==1.9.3
python-dotenv==1.0.1
duckduckgo-search==5.2.2
pydantic>=2.5.0
fastapi>=0.100.0
uvicorn>=0.22.0
python-multipart>=0.0.9
pinecone-text
langchain-groq
apify-client
ragas
datasets